.navBar {
    background-color: #99ff99;
    margin: 10px;
    padding: 10px;
    display: flex;
  }
  
.tab:hover {
    background-color: #60df60;
    cursor: pointer;
}

#goToTopButton {
    position: fixed;
    background-color: #60df60;
    right: 10px;
    bottom: 10px;
    padding: 10px;
    font-family: Calibri;
    border-style: groove;
    border-color: black;
    border-width: 2px;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0.6;
}

#goToTopButton:hover {
    opacity: 1;
}